.Footer{
    background-color: black;
    padding: 1rem;
    position:sticky;
    
}

.no-copy{
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 5px;
}
.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.footer-paragraph{
    margin: 5px;
}
.no-copy-icon{
    width: 30px;
    height: 20px;
    margin: 0;
}